<a href="https://colab.research.google.com/github/venugopals002/Venus/blob/main/Class_1_Python_for_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
x() # this is a function

NameError: name 'x' is not defined

In [6]:
#python is a case sensitive language
print(1)

1

In [7]:
print(True)

True

In [8]:
print('Hello',1,4,5, True) # print function is very flexible we can print m

Hello 1 4 5 True

In [9]:
print(8) # Int
print(8.55) # Float
print(True) # Boolean
print('Hello') # String
print(8+5j) # Complex
print(None) # None

8
8.55
True
Hello
(8+5j)
None

In [13]:
print([1,2,3,4,5]) # List
print((1,2,3,4,5)) # Tuple
print({1,2,3,4,5}) # Set
print({'name': 'venu'}) # Dictionary

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'venu'}

In [16]:
#type
type('hello') # Str
type(4+4j)

complex

## Variables

In [20]:
name = 'venu'
print(name)

a=5
b=7
print(a+b)

venu
12

In [21]:
# Dynamic typing
a = 5
print(a)
a = 'venu'
print(a)

5
venu

In [22]:
# static bindig
int a = 5

SyntaxError: invalid syntax (<ipython-input-22-565ecef1fb1c>, line 2)

In [23]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [24]:
a=b=c=5
print(a,b,c)

5 5 5

4. Keywords & Identifiers

In [25]:
# Keywords are reserved words dont assign key words to variables
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [27]:
# identifiers are names
# You can't start with a digit
name1 = 'venu'
print(name1)
# You can use special chars -> _
first_name = 'venu'
print(first_name)
# Identifiers can not be keyword

venu
venu

5. User Input

In [29]:
# static Vs Dynamic
input('your name please')

your name pleasevenu

'venu'

In [31]:
# take input from users and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')
#print(fnum,snum)
# add the 2 variables
result = int(fnum) + int(snum)
# print the result
print(result)

enter first number323
enter second number23
346

In [34]:
# type conversion
# implicit vs explicit
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [35]:
# explicite
print(4 + int('4'))

8

In [38]:
# prompt: write a program to print all data types in python

import keyword

# Print all data types in Python
print("Data types in Python:")

# Print built-in data types
print("- Built-in data types:")
print("\t", end="")
print(*[type(x).__name__ for x in [1, 1.0, True, "string", [], {}, ()]], sep=", ")

# Print sequence data types
print("- Sequence data types:")
print("\t", end="")
print(*[type(x).__name__ for x in [[], (), "string"]], sep=", ")

# Print set data types
print("- Set data types:")
print("\t", end="")
print(*[type(x).__name__ for x in [{1, 2, 3}, {1: 2, 3: 4}]], sep=", ")

# Print mapping data types
print("- Mapping data types:")
print("\t", end="")
print(*[type(x).__name__ for x in [{1: 2, 3: 4}, {1, 2, 3}]], sep=", ")

# Print other data types
print("- Other data types:")
print("\t", end="")
print(*[type(x).__name__ for x in [None, True, False]], sep=", ")

# Print keywords
print("- Keywords:")
print("\t", end="")
print(*keyword.kwlist, sep=", ")

Data types in Python:
- Built-in data types:
	int, float, bool, str, list, dict, tuple
- Sequence data types:
	list, tuple, str
- Set data types:
	set, dict
- Mapping data types:
	dict, set
- Other data types:
	NoneType, bool, bool
- Keywords:
	False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

# 7. Literals

In [42]:
# The value which we are saving in the variable is a litteral
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0